
*{
	margin: 0px;
	padding: 0px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.7;
         background-position: center center;
		background-repeat:  no-repeat;
		background-size:  cover;

  }


.front-back	{
	background-color: rgb(0,0,0);
	opacity: 0.7;
	z-index: 120;
	top: 0;
	width: 100%;
    height: 100%;
	background-position: center center;
		background-repeat:  no-repeat;
		background-size:  cover;
}
.quote{
	color: #CAC3C8;
	margin-top: 20%;
	padding-left: 10%;
	font-family: 'Cardo', serif;
	font-size: 80px;
}

.IIITMUN
{
	color: #CAC3C8;
	font-family: 'Cormorant', serif;
	padding-top: -50px;
	padding-left: 10%;
	font-size: 120px;
}
.timeclock{
  margin-top: 0%;
  background-image: linear-gradient(#A7CFF7, white);

}
#clockdiv{
  padding-top: 5%;
  padding-left: 35%;
  padding-bottom: 5%;
  font-family: sans-serif;
  color: black;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 60px;
}

#clockdiv > div{
  padding: 15px;
  border-radius: 20px;
  background-image: linear-gradient(#A7CFF7, white);
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background-image: linear-gradient(#A7CFF7, white);
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 20px;
}

/*#clock{
	margin-top: 5%;
	font-size: 60px;
	margin-left: 40%;
}
.clock1{
	font-size: 25px;
	margin-left: 40%;
	word-spacing: 40px;
}
*/
.letter{
	position: relative;
	top: 100%;
	background: none;
	margin-top: 5%;
	
	
}
/*#days,#hour,#min,#sec
{
	font-size: 40px;
	padding: 5px;
	color: red;
}*/
.Sec{
	
	text-decoration-color: red; 
	font-size: 60px;
	margin-left: 10%;
	font-family: 'Cormorant', serif;
}

.clearfix{
	clear:all;
}

.letter-detail{
	margin-left: 10%;
	font-size: 25px;
	margin-right: 10%; 
}
.commitee{
	margin-top: 10%;
}
.comm{
	font-size: 60px;
	text-align: center;
	font-family: 'Cormorant', serif;
}

.contact-us{
	
	margin-top:-2%;
	width: 90%;
	padding-left: 5%;
	
	padding-bottom: 10%;
}
.contact{
	padding: 5%;
	text-align: center;
	font-family: 'Cormorant', serif;
	font-size: 60px;
}
#sub-floor {
    color: #AAA;
    background: #031634 none repeat scroll 0% 0%;
    padding: 10px 0px;
}


@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social-support{
	font-size: 28px;
	color:#2d2d32;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 22px;
	text-align: center;
}
.footer{
	padding-bottom: 8%;
	background-color: #012754;
	width: 100%;
}

.other-media{
	color: white;
	padding-top: 3%;
	padding-bottom: 2%;
	z-index: -1;
	opacity: 0.5;
	font-size:40px;
	text-align: center;
	margin-top: -10%;
	font-family: 'Cormorant', serif;
}

.social {
  position: absolute;
  width: 100%;
  padding-top: 5%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 70px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.instagram {
  background-color: #bc2a8d;
  color: white;
}

.social .link.twitter {
  background-color: #00ACEE;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}


.comm-font{
	font-size: 25px;
}

.commitee{
	margin-top: 5%;
}
.comm{
	font-size: 60px;
	text-align: center;
}

.comm-data{
	color: white;
	padding:100px;
}
.co-item{
  margin-top: 5%;
  font-size: 20px;
  color: white;
}
.comm-head{
  text-align: center;
  font-size: 30px;
}
.carousel-item {
  height: 80vh;
  background: #212121;
}

.carousel-control-next,
.carousel-control-prev {
  width: 8% !important;
}



.carousel-item  {
    color: white;
    font-size: 20px;
    padding: 0 10%;
 }

h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Clearfix (clear floats) */
.tab-pane .row::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 768px){

	.IIITMUN{
		font-size: 50px;
		margin-top: 5%;
	}
	.quote{
		padding-top: 40%;
		font-size: 40px;
	}
  #clockdiv{
    font-size: 13px;
    display: block;
    padding-top: 5%;
  padding-left: 3%;
  padding-bottom: 5%;
  }

  .timeclock{
    margin-top:0%;
  }
  .smalltext{
    font-size: 14px;
  }
	/*.clock1{
		margin-left: 0px;
		word-spacing: 10px;
		font-size: 40px;
	}
	#clock{
		margin-top: 15%;
		font-size: 20px;
		margin-left: 20%;
	}
	#days,#hour,#min,#sec
{
	font-size: 20px;
	padding: 5px;
}*/
	.Sec{
		font-size: 30px;
		margin-left: 5px;
	}
	.letter{
		padding-top: 15%;
	}
	.letter-detail{
		
		margin-left: 10px;
		font-size: 15px;
	}
	.nav-justified>li {
    display: table-cell;
    width: 1%;
  }
  .other-media{
  	padding-left: 10%;
  }
  .tabtop li a {
  	font-size: 15px;
  }
  .tabtop .active a:before{
  	content:none;
  }
  .tabtop li{
  	width:100%;
  }
  .comm-font{
  	font-size: 20px;
  }
  .collapse ul li a{
  	padding:none;
  	margin:none;
  }
  .contact-us{
  	margin-top: -2%;
  }
  .comm{
  	font-size: 30px;
  }
  .contact{
  	margin-top: 5px;
  	font-size: 30px;
  }
  .other-media{
  	font-size: 25px;
  	padding-bottom: 40px;
  }
.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}
.social {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  transform: translateY(-50%);
}
.quote span{
  margin-right: 10%;
}
.quote span img{
  height: 100px;
  width: 100px;
}
.carousel-item {
  height: 120vh;
  background: #212121;
}
.co-item{
  margin-top: 5%;
  font-size: 15px;
  color: white;
}
.comm-head{
  text-align: center;
  font-size: 30px;
}

}


